.intro{
    background-image: url(../../img/coffe-rasm.png);
    @include padding;
    margin-bottom: 136px;
    border-radius: $big-radius;
    padding-bottom: 132px;
}
.intro__content-wrapper{
    width: 493px;
}
.intro__title{
    @include font-family;
    font-size: 72px;
    color: $white;
    line-height: 72px;
    margin: 0;
}
.intro__description{
    @include style;
    color: $white;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 71px;
}
.intro__link{
    padding: 15px 31px 16px 31px;
    background-color: $green ;
    border-radius: $radius;
    color: $white;
    text-decoration: none;
    @include font-family;
    font-size: 18px;
    line-height: 25px;
}